<body class="b">
<form class="form" novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" >
    <div class="form-group">
     <h1  class="l"> <label>Locations</label></h1>
      <select class="form-control" formControlName="Location"   [(ngModel)]= "new">
        <option selected>Select an option</option>
        <option *ngFor="let loc of Locat" value="{{loc}}" >
          {{loc}} 
        </option>
      </select>
    </div>
    <button class="button btn-primary"  type="submit" >Check time</button>
  </form>


<!--
<form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">

    <div class="form-group">
      <mat-form-field>
        <label>Locations</label>
      </mat-form-field>
      <mat-form-field>
      <mat-select class="form-control"  placeholder="Select an option" formControlName="Location" [(ngModel)]= "new">
        <mat-option *ngFor="let loc of Locat" value="loc">
          {{loc}} 
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
</form>
-->

<br>
<div *ngIf="Times" class="t">
    <h1>Date in {{ Times.timezone | json}} is {{ Times.datetime.slice(0,10)}}</h1>  
    <h1>Time as "{{ Times.abbreviation }}" is {{ Times.datetime.slice(11,19) }}</h1>
    <h2>Week number : {{ Times.week_number }}</h2>
    
</div>
<br>
</body>
